.App {
  text-align: center;
}

h2{
  color: #2c3e50;
}

.App-header {
  height: 2em;
  padding: 20px;
  color: #2c3e50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-header > a{
  color: #2c3e50;
  text-decoration: none;
}
.menu{
  display: flex;
  flex-direction: row;
}

.menu > p {
  padding: 0 0.5em;
}

.menu > a{
  color: #2c3e50;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

.banner {
  background-size: cover;
  background-position: center;  height: 100vh;
  background-size: cover;
  /* content:url(https://files.slack.com/files-pri/T59AURYQ6-F593HFJDP/black-and-white-city-man-people.jpg); */
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/header-image.jpg");
  background-attachment: fixed;
}

.logo {
  content:url(/img/logo.png);
}

.hero-text {
	position: absolute; /* We want to vertically & horizontally center content */
	width: 1140px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%); /* Centers content half of width and height up to the top and left*/
}

h2 {
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
