h2{
  color: #2c3e50;
}

.mrphone {
  color: #2c3e50;
  left: -5%;
}

.intro-heading {
  color: #f7f7f7;
}

.intro-text {
  color: #f7f7f7;
}

.Interview {
  padding: 50px;
  background: #f7f7f7;
  border-radius: 25px;
  box-shadow: 0px 7px 10px #eaeaea;
  opacity: 0.8;
}

.orange{
  background-color: #FF7C5E;
  border-color: #e8836c;
}

.orange:hover{
  background-color: #d76146;
  border-color: #d76146;
}
.Interview h2 {
  color: #434343;
}

.wanttohire{
  background-image: url("../img/wanttohire.png");
  margin: 0 auto;

  height: 100vh;
  width: 100%;
  background-position-x:50%;
  background-repeat: no-repeat;
  /*background: lime;*/
  background-size: auto 100%;
}

#company3{
  background-image: url("../img/michellesendinvite.png");
}

#company4{
  background-image: url("../img/michelleendpage.png");
}

#companyCandidates{
  background-image: url("../img/michellecandidates.png");
}

.createform{
  background-image: url("../img/create.png");
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  background-position-x:50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  /*background: lime;*/
}

.interview-alternatives{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 50%;*/
  margin-top: 8%;
  font-size: 34px;

}

.prevju{
  background-image: url("../img/logo-trans.png");
  background-size: 100%;
  width: 25%;
  background-repeat: no-repeat;
}

.skype{
  background-image: url("../img/skype.png");
  background-size: 100%;
  width: 58px;
  background-repeat: no-repeat;
}

.phone-center{
  padding: 2%;
}
.interview-container{
  height: 95vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interview-container > p {

}

.container {
  padding: 50px;
  background: #f7f7f7;
  border-radius: 25px;
  box-shadow: 0px 7px 10px #eaeaea;
  opacity: 0.8;
  width: 80vh;
}

.col {
  margin: 50px auto 50px auto;
}

.textmic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mic {
    background-image: url(http://www.freeiconspng.com/uploads/audio-record-icon-1.png);
    height: 50px;
    width: 50px;
    background-size: cover;
    align-self: center;
    margin-top: 35px;

}

.mic-active {
  background-image: url('../img/mic-active.png');
  height: 50px;
  width: 50px;
  background-size: cover;
  align-self: center;
  margin-top: 35px;
}

.center {
  align-items: center;
}

.container h1, p {
  color: #434343;
}
